<div class="jumbotron">
  <h1><%=@article.title%></h1>
</div>
<div class="container">
  <p><%=@article.body%></p><br><br><br>
  <h5>Comments:</h5>
  <% @article.comments.each do |comment| %>
  <ul>
    <li><%= comment.body %></li>
  </ul>
  <% end %><br><br>
  <%= link_to 'Edit', edit_author_article_path(@article.author_id, @article.id)%><br>
  <%= link_to 'Comment', new_author_article_comment_path(@article.author_id, @article.id)%><br>
  <%= link_to "All Articles", :root %>
</div>
