<h1>Sign up below to Contribute Articles</h1>

<%= form_for @author do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_area :email %>
  </div>
  <%= f.submit %>
<% end %>
