<div class="jumbotron">
  <h1> <%= @author.name %></h1>
</div>
<div class="container">
  <h2>Articles:</h2>
    <dl>
      <% @author.articles.each do |article| %>
      <dt><%=link_to article.title, author_article_path(article.author_id, article.id) %></dt><dt><%= truncate(article.body, :length => 80)%></dt>
      <% end %>
    </dl>
    <%= link_to "New Article", new_author_article_path(@author.id) %><br>
    <%= link_to "All Articles", :root %>
</div>

